@media (max-width: 1270px){
    /* Grid-media */
    .portfolio__content-start, .portfolio__content-more {
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio__content-item {
        width: 360px;
        min-height: calc((360px * 9) / 16);
    }
}

@media (max-width: 820px){
    /* Text */
    .section__title {
        font-size: 28px;
        line-height: 36px;
        padding: 8px 42px 13px;
    }

    .skills__box-title {
        font-size: 23px;
        line-height: 28px;
    }
    .portfolio__item-link {
        font-size: 20px;
        line-height: 28px;
    }
    /* Grid-media */
    .skills__box {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    .portfolio__content-start, .portfolio__content-more {
        grid-template-columns: 1fr;
    }
    /* Block */
    .header {
        background-image: url(../images/header-Litebg.jpg);
    }
    .blockquote__content {
        padding: 45px 20px 40px 50px;
    }

    .info {
        padding: 80px 0;   
    }

    .header__top {
        padding-top: 50px;
    }

    .popup {
        width: 550px;
        min-height: 280px;
    }
    /* Item */
    .portfolio__content-item {
        width: 525px;
        min-height: calc((525px * 9) / 16);
    }
}


@media (max-width: 710px){
    /* Block */
    .header {
        background-position: right;
        background-image: url('../images/header-mobbg.jpg');
    }
    .blockquote__content {
        padding: 40px 20px 30px 50px;
    }

    .info {
        padding: 60px 0;   
    }

    /* Header-menu */
    .header__list.header__list--active {
        transform: translateY(0);
    }

    .header__list {
        transform: translateY(-200%);
        display: block;
        position: absolute;
        padding: 25px 0;
        left: 0;
        right: 0;
        transition: all .5s;
        text-align: center;
        background-color: rgba(0, 0, 0, .5);
        margin-top: 25px;
    }
    .header__link {
        display: block;
        margin: 15px 0;
        width: 100%;
    }
    .header__item:last-child .header__link {
        background-color: #fff;
        color: #000;
        text-align: center;
        margin: 0;
        border-radius: 30px;
        padding: 15px 10px;
        margin-bottom: 0;
    }

    .header__btn {
        display: inline-block;
        top: 52px;
    }

    .header__btn.header__btn--active{
        top: 65px;
        height: 40px;
        /* Animation */
        transform: none;
        transition: none;
    }

    .header__btn.header__btn--active span{
        display: none;
    }

    .header__btn.header__btn--active::before,
    .header__btn.header__btn--active::after{
        top: 0;
        bottom: 0;
    }
    .header__btn.header__btn--active::before{
        transform: rotate(45rad);
    }
    .header__btn.header__btn--active::after {
        transform: rotate(-45rad);
    }

    /* Text */
    body {
        font-size: 13px;
        line-height: 135%;
    }
    .header__subtitle {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .header__title {
        font-size: 75px;
        line-height: 85px;
    }
    .header__title-desc {
        font-size: 21px;
    }

    .skills__box-title {
        font-size: 22px;
        line-height: 27px;
    }

    .section__title {
        font-size: 26px;
        line-height: 34px;
        padding: 7px 41px 12px;
    }

    .portfolio__item-link {
        font-size: 20px;
        line-height: 28px;
    }

    .portfolio__item-link {
        font-size: 18px;
        line-height: 25px;
    }

    /* Padding-top */
    .header__top {
        /* padding-top: 40px; */
        padding-top: 56px;
    }
}

@media (max-width: 620px){

    /* Text */
    .header__subtitle {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .header__title {
        font-size: 65px;
        line-height: 75px;
    }
    .header__title-desc {
        font-size: 20px;
    }

    .section__title {
        font-size: 24px;
        line-height: 32px;
    }

    .skills__box-title {
        font-size: 21px;
        line-height: 26px;
    }

    .popup-text {
        font-size: 28px;
        line-height: 34px;
    }


    /* Icon */
    .header__social-img {
        width: 32px;
    }

    .services-item {
        margin: 0 15px 30px;
    }

    .services-title {
        margin-left: 65px;
        margin-bottom: 25px;
    }

    .service-subimg {
        margin-left: -10px;
    }

    /* Grid-media */
    .skills__box {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 18px;
    }

    /* Block */
    .blockquote__content {
        padding: 40px 20px;
    }

    .popup {
        width: 450px;
        min-height: 230px;
    }
    /* Padding-top  */

    .header__top {
        /* padding-top: 30px; */
        padding-top: 46px;
    }
    
    .header__btn {
        top: 42px;
    }

    .header__btn.header__btn--active{
        top: 55px;
    }
    /* Item */
    .portfolio__content-item {
        width: 415px;
        min-height: calc((415px * 9) / 16);
    }
}

@media (max-width: 480px){
    /* Text */
    .header__title {
        font-size: 55px;
        line-height: 65px;
    }
    .header__title-desc {
        font-size: 18px;
    }

    .section__title {
        font-size: 22px;
        line-height: 30px;
    }

    .skills__box-title {
        font-size: 20px;
        line-height: 25px;
    }

    .portfolio__item-link {
        padding: 10px;
    }

    /* Icon */
    .header__social-list {
        margin-left: -15px;
    }

    .header__social-item {
        margin: 0 15px;
    }

    /* Grid-media */
    .skills__box-img {
        max-width: 190px;
    }
    .skills__box {
        grid-gap: 40px 5px;
    }

    /* Block */
    .info {
        padding: 50px 0;   
    }
    
    .header__btn {
        top: 42px;
    }

    .popup {
        width: 380px;
        min-height: 195px;
    }

    /* Padding-top  */

    .header__top {
        padding-top: 36px;
    }
    
    .header__btn {
        top: 32px;
    }

    .header__btn.header__btn--active{
        top: 45px;
    }
    /* Item */
    .portfolio__content-item {
        width: 340px;
        min-height: calc((340px * 9) / 16);
    }
}

@media (max-width: 400px){
    /* Grid-media */
    .skills__box-img {
        max-width: 180px;
    }

    /* .skills__box {
        grid-template-columns: repeat(1, 1fr);
    } */
    /* Block */
    .popup {
        width: 340px;
        min-height: 173px;
    }

    /* Text */
    .header__title {
        font-size: 48px;
        line-height: 58px;
    }
    .header__title-desc {
        font-size: 18px;
    }

    .skills-title {
        text-align: center;
    }
    .popup-text {
        font-size: 24px;
        line-height: 32px;
    }
    /* Item */
    .portfolio__content-item {
        width: 300px;
        min-height: calc((300px * 9) / 16);
    }
}

@media (max-width: 350px){
    /* Grid-media */
    .skills__box-img {
        max-width: 100%;
    }
    .skills__box {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Block */
    .popup {
        width: 310px;
        min-height: 158px;
    }

    /* Text */
    .header__title {
        font-size: 42px;
        line-height: 60px;
    }
    .header__title-desc {
        font-size: 18px;
    }
    /* Icon */
    .header__social-list {
        margin-left: -10px;
    }
    
    .header__social-item {
        margin: 0 10px;
    }
    /* Item */
    .portfolio__content-item {
        width: 270px;
        min-height: calc((270px * 9) / 16);
    }
}